academictorrents
addict
aiohttp
apex
azureml
basicsr
black
cityscapesscripts
cuml
einops
external
fairscale
fastapi
ftfy
fvcore
GitPython
huggingface_hub
hydra-core
importlib_metadata
insightface
intel_extension_for_pytorch
iopath
ipdb
kornia
lmdb
mano
matplotlib
mediapipe
mmcv
mmdet
mmengine
more_itertools
numpy
omegaconf
onnxruntime
open3d
opencv_python
opencv_python_headless
opendr
openvino
packaging
parrots
piexif
Pillow
plyfile
prettytable
psutil
pycocotools
pygit2
Pygments
pytest
PyYAML
regex
rembg
Requests
safetensors
scikit_learn
scipy
setuptools
Shapely
simpleeval
scikit-image
spandrel
spandrel_extra_arches
submitit
tabulate
tensorboardX
tensorflow
tensorflow_datasets
termcolor
tifffile
timm
torch_directml
torch_tb_profiler
torchaudio
torchmetrics
torchsde
torchvision
tqdm
transformers
trimesh
turbojpeg
typing_extensions
uvicorn
websocket_client
xformers
yacs
yapf

# non-essential dependencies:
kornia>=0.7.1
spandrel
soundfile
